.posts-list{


  article{
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 1px dashed $header-bg-color;
  }

  h3{
    margin-bottom: 0;
  }

  .post-link{

  }

  .post-meta{
    font-size: 0.7rem;
  }

  .post-short-desc{
    font-size: 0.7rem;
  }
}