.social{
  display: flex;
  justify-content: center;
  padding: 20px 0;

  li{
    width: 40px;
    margin: 0 10px;
    list-style: none; 
  }

  svg{
    fill: $body-text-color;
  }

  a:hover{
    svg{
      fill: #000;
    }
  }
}