.orange-fun{
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc4a1a, #f7b733); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc4a1a, #f7b733);
}