@import "normalize";
@import "rouge-github";
@import "variables";
@import "mixin";
@import "base-theme-styles";
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/posts-list";

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 0;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}


.well-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;

    @include large {
      min-height: 60vh;
    }
}

.well-3{
  padding-top: 4rem;
  padd
}

.text-center {
  text-align: center;
}

.mb-3{
  margin-bottom: 2rem;
}